.grid-container{
    padding-top: 100px;;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    background-color: #212121;
    color: white;
}

.gid-media-card{
    height: 380px;
    background-color: red;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

    
}



.grid-card-title{
position: absolute;
margin-top: 8.2%;
  z-index: 2;
  color: white;
  background-color: #212121;
  background-color: rgba(0, 0, 0, 0.75);
  flex-grow:1;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.05em;
  font-weight: bold;
}




.media-img{
    flex-grow:1; 
    max-height: 400px;
    min-height: 400px;

}

