.grid-container{
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    overflow: hidden;
    /* justify-content: center; */
    overflow-x: scroll;
    background-color: #212121;
    color: white;
}

.gid-media-card{
    height: 350px;
    background-color:#545454;
    min-width: 220px;
    max-width: 220px;
    overflow: hidden; 
    /* -ms-scroll-limit: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin: 3px;

}



.grid-card-title{
  position: absolute;
  z-index: 99999 !important;
  color: white;
  background-color: #212121;
  background-color: rgba(0, 0, 0, 0.75);
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.00em;
  font-weight: bold;
  text-justify: auto;

}




.media-img{
    position: relative;
    max-height: 400px;
    min-height: 400px;
     object-fit: cover;
     align-self: center;
}
