.media-grid-container{
    /* display: flex;
    justify-content: left; 
    flex-direction: column; */
    min-height: 100vh;
    background-color: #212121;
    color: white;
}

.grid-container{
    /* padding-top: 100px; */
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 10px;
    min-height: 395px;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    /* justify-content: center; */
    /* overflow-x: scroll;
    overflow-y: scroll; */
     overflow-x: hidden;
    color: white;
}

.gid-media-card{
    margin-top: 5px !important;
    height: 350px;
    background-color:#545454;
    min-width: 220px;
    max-width: 220px;
    overflow: hidden; 
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 3px;

}
.gid-media-card:focus{
    margin-top: 0!important;
    min-height:  360px;
    max-height:  360px;
    outline: none;
    border-radius: 2px;
    border: 5px solid #FAFAFA !important;
    /* border-top: 10px solid white !important;
    border-bottom: 10px solid white !important; */

}

.btn-nav{
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FAFAFA;
}

.btn-nav-style{
  color: #FAFAFA !important;
}

.btn-nav-style:hover{
    background-color: #545454 !important;
  }

.grid-card-title{
  position: absolute;
  z-index: 1 !important;
  color: white;
  background-color: #212121;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.00em;
  font-weight: bold;
  text-justify: auto;
  margin-left: auto;
  margin-right: auto;

}


.media-img{
    position: relative; 
    margin-left: auto;
    margin-right: auto;

}

.media-img img{

    max-height: 350px;
    min-height: 350px;
    object-fit: cover;    
}

.repoContainer {
    display: flex; 
    justify-content: left; 
    flex-direction: column; 
}

.repoContainer h2 {
 min-width: 300px;
 float: left;
 text-align: left;
 padding-bottom: 6px;
 border-bottom: 1px solid #2979FF;
}

.carrusel-top-bar{
    display: flex; 
    justify-content: left; 
    flex-direction: row;
    padding-left: 20px; 
}

.hide{
    display: none;
}


