$break-small: 450px;
$break-large: 1200px;
.grid-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 10px;
    min-height: 395px;
    overflow-x: auto;
    color: white;
    -webkit-overflow-scrolling: touch;
    @media screen and (max-width: $break-small) {
        min-height: 200px;
     }
}


