$break-small: 450px;
$break-large: 1200px;

// .profile-pic {
//   float: left;
//   width: 250px;
//   @media screen and (max-width: $break-small) {
//     width: 100px;
//     float: none;
//   }
//   @media screen and (min-width: $break-large) {
//     float: right;
//   }

.action-btn{
    @media screen and (max-width: $break-small) {
        display: none !important;
     }
}

.top-nav-container{
    background-color: white;
    min-height: 100px;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: space-between;
    display: flex;
    @media screen and (max-width: $break-small) {
        min-height: none;
             
          }
    
}

.mid-content{

}


.search-box{
    width: 600px;
    @media screen and (max-width: $break-small) {
        display: none !important;
        float: none;
     }
}

.search-box-container{
    @media screen and (max-width: $break-small) {
        display: none !important;
     }
}
